* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.display{
  margin: auto;
  margin-top: 200px;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddColorForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
input{
  padding: 5px;
  margin-bottom: 3px;
}
button{
  padding: 5px;
}
button:hover{
  background-color: blueviolet;
}
h1{
  color: blueviolet;
  display: flex;
  justify-content: center;
  position: relative;
  top: 140px;

}

